.socket
  display: flex
  align-items: center
  position relative
  cursor: pointer
  &.input
    left: -.8em
    .pin
      margin-right: .4em

.output.socket
  flex-flow: row-reverse
  right: -.8em
  .pin
    margin-left: .4em

.pin
  position: relative
