.caret
  width: 1px;
  display: inline-block;
  overflow: hidden;
  outline: none
  vertical-align: top;

.board
  cursor: text;
  resize: both;
  overflow: hidden;
  label[data-is-mark]
    display: none

:global
  *.focus
    & > label[data-is-mark]
      display: inline
