.node
  border: solid .1em
  border-color: rgb(195, 213, 194)
  margin: .2em
  padding: .2em
  border-radius: .6em
  min-width 10em
  position: absolute
  left: 10em
  top: 10em
  user-select: none
  cursor: move
  background-color: rgb(199, 83, 158)
